.search-result{
  border-bottom: 1px solid #4682B4;
  border-left: 1px solid #4682B4;
  border-right: 1px solid #4682B4;
  width:195px;
  height: 20px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}

#search-box{
  width: 200px;
  height: 30px;
}
